html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

h1,
h2,
h3 {
  font-family: "Oswald", "Montserrat", sans-serif;
}

code,
.mono {
  font-family: "Share Tech Mono", monospace;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

@media (max-width: 992px) {
  body {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  body {
    font-size: 13px;
  }
}
